/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #grid {
        display: grid;
        grid-template-areas:
            "header"
            "sidebar"
            "edu"
            "skill"
            "int"
            "carou"
            "footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-gap: 2vw;
    }

    #head {
        grid-area: header;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #side {
        grid-area: sidebar;
        font-size: 5vw;
        padding: .5em;
        background: blue;
        text-align: center;
    }

    #ed {
        grid-area: edu;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #sk {
        grid-area: skill;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #in {
        grid-area: int;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #ca {
        grid-area: carou;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #foot {
        grid-area: footer;
        font-size: 5vw;
        padding: .5em;
        background: red;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #grid {
        display: grid;
        grid-template-areas:
            "header header"
            "sidebar sidebar"
            "edu skill"
            "int carou"
            "footer footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
    }

    #head {
        grid-area: header;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #side {
        grid-area: sidebar;
        font-size: 5vw;
        padding: .5em;
        background: blue;
        text-align: center;
    }

    #ed {
        grid-area: edu;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #sk {
        grid-area: skill;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #in {
        grid-area: int;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #ca {
        grid-area: carou;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #foot {
        grid-area: footer;
        font-size: 5vw;
        padding: .5em;
        background: red;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #grid {
        display: grid;
        grid-template-areas:
            "header header"
            "sidebar sidebar"
            "edu skill"
            "int carou"
            "footer footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
    }

    #head {
        grid-area: header;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #side {
        grid-area: sidebar;
        font-size: 5vw;
        padding: .5em;
        background: blue;
        text-align: center;
    }

    #ed {
        grid-area: edu;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #sk {
        grid-area: skill;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #in {
        grid-area: int;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #ca {
        grid-area: carou;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #foot {
        grid-area: footer;
        font-size: 5vw;
        padding: .5em;
        background: red;
        text-align: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #grid {
        display: grid;
        grid-template-areas:
            "header header header"
            "sidebar edu skill"
            "sidebar int carou"
            "footer footer footer";
        grid-template-rows: auto;
        grid-template-columns: 20% 1fr 1fr;
        grid-gap: 2vw;
    }

    #head {
        grid-area: header;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #side {
        grid-area: sidebar;
        font-size: 5vw;
        padding: .5em;
        background: blue;
        text-align: center;
    }

    #ed {
        grid-area: edu;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #sk {
        grid-area: skill;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #in {
        grid-area: int;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #ca {
        grid-area: carou;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #foot {
        grid-area: footer;
        font-size: 5vw;
        padding: .5em;
        background: red;
        text-align: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #grid {
        display: grid;
        grid-template-areas:
            "header header header"
            "sidebar edu skill"
            "sidebar int carou"
            "footer footer footer";
        grid-template-rows: auto;
        grid-template-columns: 20% 1fr 1fr;
        grid-gap: 2vw;
    }

    #head {
        grid-area: header;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #side {
        grid-area: sidebar;
        font-size: 5vw;
        padding: .5em;
        background: blue;
        text-align: center;
    }

    #ed {
        grid-area: edu;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #sk {
        grid-area: skill;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #in {
        grid-area: int;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #ca {
        grid-area: carou;
        font-size: 5vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    #foot {
        grid-area: footer;
        font-size: 5vw;
        padding: .5em;
        background: red;
        text-align: center;
    }
}